/*-----------header---------------------------*/


header{width:100%;height:100px;position:fixed;top:0;left:0;padding:10px 40px 20px;z-index:999;background-color:#000;}
header>h1{width:140px;background-color:#0fb;height:60%;position:absolute;z-index:1100;text-align:center;}
header>nav{width:90%;height:100%;position:relative;z-index:1000;left:10%;}
/*ul*/
header>nav>ul:nth-child(1){width:60%;height:100%;background-color:#078f;position:absolute;z-index:1100;padding-top:10px;}
header>nav>ul:nth-child(2){width:40%;height:50%;float:right;}

/*ul>li*/
header>nav>ul:nth-child(1)>li{display:block;position:relative;float:left;padding-left:10px;padding-top:20px;}
header>nav>ul:nth-child(1)>li>a{font-size:1.2rem;font-weight:600;padding:20px 30px;text-align:center;color:#fff;}

header>nav>ul:nth-child(2)>li{display:block;position:relative;float:left;padding-left:20px;}
/*button / input */

header>nav>div{float:right;width:70%;height:70%;}
header>nav>div>input,
header>nav>div>button{float:right;}
header>nav>div>input{width:50%;height:100%;border-radius:10px;}
header>nav>div>button{height:100%;}


/* pageWrap---------------------------------- */

.pageWrap{width:100%;height:auto;}

/*------ addBanner--------------------------- */

.addBanner{width:100%;height:800px;background-color:#ccc;}


/*left / rightBox*/
.addBanner>div{width:50%;height:100%;float:left;}
.addBanner>.leftBox{height:100%;background-color:#fab;}
.addBanner>.leftBox:after{content:"";width:100%;height:3%;background-color:#fff;display:block;margin-top:82%}

.addBanner>.leftBox>.showUpWhite{float:right;width:20%;height:50%;margin-top:20%;background-color:#fff;}

.addBanner>.rightBox{height:100%;background-color:#337DA8}

.addBanner:after{content:"";width:100%;height:230px;display:block;}




/* container */

/*con_1*/

.about{background-color:#0fc;width:100%;height:1000px;}

.about>.main_box{width:100%;height:75%;background-color:#fff;}
.about>.three_cution{width:100%;height:25%;}
.about>.three_cution>li{width:33%;height:100%;background-color:#ccc;display:inline-block;}

/*con_2*/

.information{width:100%;height:900px;background-color:#fff;}

/*con_3 */

.contact{width:100%;height:675px;background-color:#777;position:relative;}
.contact>div{float:left;}
.contact>.con_leftBox{width:55%;height:100%;background-color:#eee;}
.contact>.con_leftBox:after{content:"";display:block;width:100%;height:3%;float:right;background-color:#fff;}
.contact>.con_rightBox{width:45%;height:100%;background-color:#aaa;}

/*-------------------- column ----------------*/

.column{width:100%;height:800px;padding:120px 0px 90px;}
.column>div{float:left;}
/*col_leftBox*/
.col_leftBox{width:50%;height:100%;background-color:#666;}
.col_leftBox>.picture_box{width:590px;height:100%;background-color:#f0b;float:right;}
.col_leftBox>.picture_box>div{float:left;width:50%;height:50%;background-color:#ccc;}
.pBox_01{padding-right:15px;padding-bottom:15px;}
.pBox_02{padding-left:15px;padding-bottom:15px;}
.pBox_03{padding-top:15px;padding-right:15px;}
.pBox_04{padding-top:15px;padding-left:15px;}

/*col_rightBox*/
.col_rightBox{width:50%;height:100%;background-color:#888;}
.col_rightBox>div:nth-of-type(1){width:550px;height:555px;padding:0px 42px;background-color:#aff;}
.col_rightBox>.introBox>p:nth-of-type(1){font-size:36px;color:#222;padding-top:20px;font-weight:200;}
.col_rightBox>.introBox>p:nth-of-type(2){font-size:36px;color:#222;padding-top:20px;font-weight:700;color:#2d83b4;}
.col_rightBox>.introBox>p:nth-of-type(3){font-size:18px;color:#222;padding-top:20px;color:#6F6F6F;}
.col_rightBox>.introBox>p:nth-of-type(4){
	font-size:13px;color:#666;line-height:2;margin: 0 0 10px;}
	.col_rightBox>.introBox>h6{font-size:18px;color:#222;padding-top:20px;color:#222;padding:10px 0 20px;font-size:17px;font-weight:bold;padding-top:50px;}


/*---------------------clientSay--------------------*/

.clientSay{width:100%;height:270px;background-color:padding:98px 0;}

.clientSay>div{float:left;}
		.clientSay>.left_side{width:35%;height:100%;background-color:#F6F6F8;padding:45px 0px 45px 150px;}
		.clientSay>.right_side{width:65%;height:100%;background-color:#F9F9FA;padding:60px 0 60px}

/*left_side*/

.left_side>div{float:left;}
.left_side>div:nth-child(1){width:56px;height:56px;background-color:#fa0;}
.left_side>div:nth-child(2){width:80%;height:auto;padding-left:20px;}
.left_side>div:nth-child(2)>h6{font-weight:200;font-size:30px;}
.left_side>div:nth-child(2)>h6{padding:10px 0 20px;}
.left_side>div:nth-child(2)>p{text-align:justify-all;}

/*right_side*/
.right_side>.clientBox>div{float:left;}
.right_side>.clientBox{padding-left:15%;padding-right:10%;background-color:#888;height:100%;width:100%;}
.right_side>.clientBox>.client_img{width:100px;height:100px;background-color:#f0b;}
.right_side>.clientBox>.client_text{width:350px;height:auto;padding-left:40px;}