/*hardware.css*/
.content{width: 100%; height: auto;}
	#headBox{width: 100%; height: 80px; /*box-sizing:border-box;*/ position: absolute;z-index:500;
		top:0; left: 0; background-color: transparent;}
/*	#headBox.fix{position: fixed; top: 0}*/

/*	h1{width: 164px; height: 64px; ;float: left;background-image:url("../../img/fender_logo.png");
background-repeat:no-repeat; background-position:center; margin-top:42px; margin-left:64px; transition:all 0.3s;}
	h1:hover{transform:scale(1.2);}
		h1>a{display: block;width:100%; height: 100%;}*/

	
/*	#menu{width: 60px; height: 44px; float: right; right: 1rem; margin-right:44px; margin-top:42px;}
	#menu>button{width: 100%; height: 100%;
		font-size: 1.5rem; transition: 0.3s;
		background-image:url("../../img/menu_icon.png");
		background-repeat:no-repeat;
		background-position:center;background-color:transparent;}
	#menu>button:hover{transform:scale(1.2);}*/

	article{width: 100%; height:100vh; padding-top: 5rem;  box-sizing: border-box;}

/*aboutBox ----------------------------------------*/
	#hardwardBox{position:relative; background-color: #000;  }
	#hardwardBox>h2, #hardwardBox>div{margin-left:360px;}
	
/*aboutTitleBox ------------------------------------*/
	#hardTitleBox{width:1270px; height:400px; margin-top:60px;background-repeat: no-repeat; 
		background-image: url("../../img/test_1.svg"); background-size:97%;}
	
/*aboutTextBox ------------------------------------*/
  #hardTextBox{width:1270px; height:230px; margin-top:60px; /*border: 1px solid #fff;*/}
  #hardTextBox>dl{width: 350px; height: 90px; float: left; /*border: 1px solid #fff;*/ margin-right: 80px;}
  /*#hardTextBox>dl:nth-of-type(1),#hardTextBox>dl:nth-of-type(4){margin-right: 48px;}*/
  #hardTextBox>dl:nth-of-type(3){margin-right: 0;}
  #hardTextBox>dl:nth-of-type(4), #hardTextBox>dl:nth-of-type(5){margin-top: 20px;}
  #hardTextBox>dl>img{width: 50px; height: 50px; margin-right: 35px; float: left;}
  #hardTextBox>dl>dt{color: #fff; font-size: 1.4rem; /*line-height: 3rem;*/}
  #hardTextBox>dl>dd{margin-top: 5px; font-size: 1.2rem;  padding-left:55px; box-sizing: border-box;}
 