/*popup.css*/

	.popupBox{width: 100%; height: 100%; position: fixed; z-index:1000; background-color:rgba(0,0,0,0.8); 
		top: 0; left: 0;display: none;}
	.pop_banner{width: 560px; height: 360px; background-color: #242527; 
    background-color: #161616;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
		box-shadow:1px 1px 1px rgba(250,250,250,0.2); top: 50%; left: 50%;
		margin-left: -280px; margin-top:-180px; z-index: 300; position:relative; box-sizing:border-box; padding:1.5rem 1rem;}
	.pop_banner>p{width: 100%; height: 2rem; font-size: 1.2rem; color: #fff; text-indent: 5px;}
  .pop_banner>form{margin-top: 20px;}
  .pop_banner fieldset{}
  .pop_banner legend, .pop_banner label{width: 0; height: 0; overflow: hidden; display: block;}
  .pop_banner input, textarea{font-size: 1rem; background-color: #222; color: #fff;}
  .pop_banner input{}

  #userName{width: 100%; height: auto; padding: 3px 2px; box-sizing: border-box; margin-bottom: 10px;}
  #userMail{width: 100%; height: auto; padding: 3px 2px; box-sizing: border-box; margin-bottom: 10px;}
  #message{width: 100%; height: 130px; padding: 3px 2px; text-indent: 5px; box-sizing: border-box; margin-bottom: 20px; resize:none;}

  .send_btn{float: right;}
  .send_btn>input{width: 100px; height: 30px; line-height: 2; text-align: center;}
  .send_btn>input:hover{transition: all 250ms linear; text-decoration: none; box-shadow: 1px 1px 2px rgba(255,255,255,0.2); 
  	background-color: transparent;}
  input[type="submit"]{margin-right: 20px; background-color: #c20c0c; background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");}


