

#container{width:960px;height:auto;background-color: #ccc;margin:0 auto;}


#header{widows: 850px;height:70px;background-color:#888;padding:40px 55px 40px 55px;}

h1{width: 200px;height:70px;background-color:#0f0;float:left;}
#gnb{width:600px;height:40px;background-color:#0f0;float:right;margin-top:15px;}
#gnb>li{width:18%;height:100%;background-color:#00f;float:left;margin-left:1.7%;}




#addBanner{width:100%;height: 500px;background-color:#fa0;overflow:hidden;position:relative;}

.slide_btn{width:100px;height:100px;position:absolute;right:0;top:50%;margin-top:-50px;z-index:100;}

.slide_btn>button{width:100%;height:50%;font-weight:bold;color:#000;font-size:2rem;}
.sllde_btn>button:hover{background-color:#ccc;color:#333;}
.left_banner_button{background-color:#af5;}
.right_banner_button{background-color:#fff;}

.banner_box{width:400%;height: 100%;margin-left:-100%;background-color:#777;}


.banner_box>li{width:25%;height:100%;float:left;text-align:center;line-height:500px;font-size:5rem;color:#00f;font-weight:bold;}
		.banner_area_01{background-color: #ccc;}
		.banner_area_02{background-color: #ddd;}
		.banner_area_03{background-color: #eee;}
		.banner_area_04{background-color: #555;}
		.banner_area_05{background-color: #666;}
		.banner_area_06{background-color: #777;}
		.banner_area_07{background-color: #888;}
		.banner_area_08{background-color: #999;}

.indicate{width:200px;height:30px;margin-top:-100px;position:absolute;bottom:50px;margin-left:-100px;z-index:100;left:50%;}
.indicate>li{width:16px;height:16px;float:left;;border-radius:50%;margin-right:5px;border: 2px solid #fff;}
.indicate>li:hover{opacity:0.6;}
	.indicate > .active{background-color:#fff;}
	.indi_01{}
	.indi_02{}
	.indi_03{}
	.indi_04{}
	.indi_05{}
	.indi_06{}
	.indi_07{}
	.indi_08{margin-right:0;}




#model{width:960px;height:370px;background-color:#fff;text-align:center;padding-top:30px;}

#model>h2{width: 70%;height: 40px;font-size:3rem;margin:0 auto;}
#model>p{width: 70%;height:20px;font-size:1rem;margin:10px auto;color:#555;}
#model>.model_link{width: 250px;height: 40px;border:1px solid #0af;margin:10px auto;box-shadow:0 2px 4px #ccc;}
#model>.model_link>a{width:inherit;height:inherit;display:block;line-height:40px;font-weight:bold;color:#fff;background-color: #0af;}
#model>.model_link>a:hover,#model>.model_link>a:focus{background-color: #fff;}



#gallery{width:960px;height:300px;background-color:#00f;padding-bottom:150px;}
.line_up{width: 100%;height:400px;}
.line_up>ul{width:100%;height:inherit;}
.line_up>ul>li{width:25%;height:50%;float:left;}
.line_up>ul>.main{width:50%;height:100%;}
.near_gallery{width: 100%;height:200px;background-color: #fff;}
.line_up_01{background-color: #555;}
.line_up_02{background-color: #666;}
.line_up_03{background-color: #777;}
.line_up_04{background-color: #888;}
.line_up_05{background-color: #999;}






.footer_top{width:100%;height:50px;background-color:#888;}
#footer{width: 100%;height: 350px;background-color:#3cf;}
.footer_nav{width:820px;height:180px;background-color:#ff0;padding:20px 70px;}
.footer_address{width:920px;height:40px;background-color:#0ff;padding:20px 20px 20px 20px;}
