.transform{width: 800px;height: 500px;border:2px solid #0af;margin:0 auto;box-sizing:border-box;padding:1rem;background-color:#ddd;margin-bottom:2rem;}
.transform>div{width: 300px;height:300px;text-align:center;line-height:300px;font-size:3rem;background-color: #faa;border:0.3rem solid #777;float:left;margin:1rem;border-radius:1rem;transition:1s;}

.transform>div:hover{background-color:#0ac;color:#fff;}
/* transform : 형태변형 - */
.tr_01>div:nth-of-type(2):active{transform:rotate(180deg);background-color:#fff;color:#fa0;border-radius:50%;}
.tr_02>div:nth-of-type(2):active{transform:skewY(-45deg);}
.tr_02>div:nth-of-type(2):active>.none_skew{display:block;
								transform:skewY(-45deg);}

.tr_03>div:nth-of-type(2):active{transform:translate(100px,200px);animation-name:translate;animation-duration:2s;animation-iteration-count:infinite;animation-timing-function:ease-in-out;
	animation-}

@keyframes translate{0%{transform:translate(-200px)}
					100%{transform:translateY(100px);}}


.tr_04>div:nth-of-type(2):active{}

.tr_05{perspective:1000px;}
.tr_05>div:nth-of-type(2):active{transform:rotateY:(360deg);}

.aladine{width:254px;height:158px;background-image:url(../img/ala_1.png);animation-name:aladine;animation-duration: 2s;animation-iteration-count:infinite;animation-timing-function:ease-in;margin:0 auto;}

@keyframes aladine{
	100%{background-image:url(../img/ala_2.png);transform:rotateY(90deg),translate(500px);}}
