ul{width: 1200px;height:1200px;margin:0 auto;}
li{width:200px;height:200px;float:left;background-color:#08f;margin:10px;text-align:center;line-height:250px;color:#fff;font-size:2.5rem;}
body li:nth-child(1){border-top-left-radius:50% 50%;}
body li:nth-child(2){border-top-left-radius:100% 100%}
body li:nth-child(3){border-top-left-radius:100% 100%;border-top-right-radius:80% 80%;}
body li:nth-child(4){border-bottom-left-radius:100% 100%;border-bottom-right-radius:100% 100%;}
body li:nth-child(5){border-top-left-radius:80% 80%;border-top-right-radius:80% 80%;border-bottom-right-radius:100% 100%;}
body li:nth-child(6){border-top-left-radius:50% 50%;border-bottom-right-radius:50% 50%;border-bottom-right-radius:50% 50%;}
body li:nth-child(7){border-top-right-radius:100% 100%;border-bottom-left-radius:100% 100%;}
body li:nth-child(8){border-radius:50%;}
body li:nth-child(9){border-top-left-radius:100% 100%;border-bottom-right-radius:40% 40%;}
body li:nth-child(10){border-top-left-radius:50% 100%;border-bottom-right-radius:100% 50%;}
body li:nth-child(11){border-top-left-radius:100% 50%;border-bottom-right-radius:100% 50%;}
body li:nth-child(12){border-top-left-radius:100% 100%;border-bottom-right-radius:70% 100%;}
body li:nth-child(13){border-top-left-radius:50% 100%;border-top-right-radius:50% 100%;}
body li:nth-child(14){border-top-left-radius:50% 80%;
					  border-top-right-radius:50% 80%;
					  border-bottom-left-radius: 50% 80%;
					  border-bottom-right-radius:50% 80%;}
body li:nth-child(15){border-top-left-radius:100% 100%;
					  border-top-right-radius:40% 40%;}