/*responsive_01.css*/
@media screen and (max-width:640px){
	#container{width:100%; height:auto; background-color:#ccc;}
	#headBox{width:100%;height:27.777777vw;background-color:#7af;}
		h1{width:100%;height:41.666666vw;/* 360기준 150*/background-color:#9cf;}
		#gnb{width:100%;height:auto;box-sizing:border-box;padding:1.25rem;}
		#gnb>ul{width:100%;height:auto;}
		#gnb>ul>li{width:inherit;height:16.66666vw;margin-bottom:5.5555555vw;background-color:#f0a;}
		#headbox a{width:100%;height:100%;display:block;color:#fff;font-weight:bold;font-size:2rem;text-align:center;line-height:16.66666vw;}
	#content{width: 100%;height:133.3333333vw;background-color:#f0a;}
	#footBox{width:100%;height:16.6666666vw;background-color:#3af;box-sizing:border-box;padding:2rem;color:1.5rem;color:#fff;}
	#footerBox p{display:none;}
}


/*
	vw : view width (화면의 가로기준의 크기를 기점으로 재는 단위)
	vh : view height (화면의 세로기준의 크기를기점으로 재는 단위)*/


/* min 641 ~ max 1024 */

@media screen and (min-width:641px) and (max-width:1024px){
	#container{width:100%;height:auto;}
	#headBox{width:100%;height:inherit;}
	#headBox>h1{width:100%;height:100px;}
	#gnb{width:100%;height:auto;box-sizing:border-box;padding:1.875rem;}
	#gnb>ul{width:inherit;height:auto;}
	#gnb>ul>li{height:29.641185vw;width:14.35257vw;margin-right:4.68018vw;}
	#gnb>ul>li>a{width:100%;height:100%;display:block;background-color:#ccc;}
	#gnb>ul:after{content:"";display:block;clear:both;}
	#content{width:100%;height:159.75039vw;background-color:#faa;}
	#footBox{width:100%;height:6.25rem;background-color: #7cd;}
