h1{width:100%;height:3rem;background-color:#ccc;
	box-shadow:0 2px 20px #333;margin-bottom:1rem;}

ul{width:80%;height:auto;padding:1rem;border:3px solid #777;border-radius:0.3rem;margin-left:10%;background-color:#dfdfdf;box-sizing:border-box}
ul:hover li{width:100%;}

li{width:1rem;height:2rem;margin-bottom:0.2rem;
	overflow:hidden;border-bottom:1px solid #0af;
	line-height:2rem;font-size:1.5rem;}

li:nth-child(1){background-color:#f77;transition-duration:2s:2s;}
li:nth-child(2){background-color:#77f;transition-duration:2s;transition-delay:1s;}
li:nth-child(3){background-color:#f7f;
	transition-duration:2s;
	transition-timing-function:ease-in}
li:nth-child(4){background-color:#ff8;transition-property:background-color;transition-duration:2s;color:#fff;}
ul:hover > li:nth-child(4){background-color:#070;}
li:nth-child(5){background-color:#8f7;transition-duration:2s;transition-timing-function:cubic-bezier(0,1.7,1,-1.5);}
li:nth-child(6){background-color:#09f;transition:all 1s}
li:nth-child(7){background-color:#98c;transition:all 1s}
li:nth-child(8){background-color:#8fc;transition:all 1s}


/*transition: 움직임을 처리 하는기능
	transition-duration:일정시간;
	transtion-delay:지연시간;
	transition-timing-function:움직임(속도감);
	-ease, ease-in, ease-out, ease-in-out,cubic-bezier,linear
	transtion-property:속성
	transtion:property duration timing-function delay*/

.ball{width:200px;height:200px;background-color:#000;border-radius:50%;margin:0 auto;animation-name:ball;animation-duration:5s;animation-timing-function:cubic-bezier(0,1.7,1,-1.5);animation-iteration-count:infinite;}

.ball2{width:200px;height:200px;background-color:#f0b;border-radius:50%;left:0;animation-name:ball;animation-duration:5s;animation-timing-function:cubic-bezier(0,1.7,1,-1.5);animation-iteration-count:infinite;}

@keyframes ball{100%{transform:translateY(200px);}}



