.container{min-width:960px;width:100%;height: auto;margin: 0 auto;background-color:#ccc;min-height:10rem;padding-top:1rem;}
h1{width: 100%;height: 3rem;margin-bottom:1rem;border-bottom:1px solid #0af;text-align:center;line-height:3rem;color:#fff;font-size:2.7rem;}
ul{width: 100px;height: 2rem;background-color:#a79;}
ul>li{width: 20%;height:1.5rem;margin-top:0.25rem;float:left;line-height:1.5rem;background-color:#fff;}
ul>li::after{content:"";display:block;}
ul>li:last-child::after{display:border;}
ul>li:nth-child(1){font-family: 'Lalezar', cursive;}
ul>li:nth-child(2){font-family: 'Roboto', sans-serif;}
ul>li:nth-child(3){}
ul>li:nth-child(4){}
ul>li:nth-child(5){}

.content{widows: 960px;margin:1rem auto;}
.content>p{width: 80%;height: auto;margin-left: 10%;margin-bottom:3rem;border-bottom: 1px solid  #fff;padding:0.5rem;padding-bottom: 1rem;
	box-sizing:border-box;font-size:1.2rem;color:#fff;text-align:justify;line-height:160%;background-color:rgba(0,0,0,0,0.5);border-bottom-right-radius:0.5rem;}
.content>p:nth-of-type(1){}
.content>p:nth-of-type(2){}
.content>p:nth-of-type(3){font-family: 'Roboto', sans-serif;}
.content>p:nth-of-type(4){font-family: 'Lalezar', cursive;}

.content mark{}