<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="./css/pc.css")
	link(rel="stylesheet", href="./css/tab.css")
	link(rel="stylesheet", href="./css/mob.css")
	title Document
body
	h1: a(href="#") check
	#headBox
		h2 test
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam totam veniam voluptatum accusantium earum dolor at, voluptatem facilis nam. Est nemo recusandae reiciendis quae distinctio tenetur iusto? Ad, harum, exercitationem?
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam totam veniam voluptatum accusantium earum dolor at, voluptatem facilis nam. Est nemo recusandae reiciendis quae distinctio tenetur iusto? Ad, harum, exercitationem?
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. 