/*background01_0906*/

/* reset css */

html,body{height:100%;color:#333;}
html,body,h1,h2,h3,h4,h5,h6,p,pre,div,img,ul,ol,li{padding:0;margin:0;border:0;}

a{text-decoration:none;color:#777;}
a:hover{text-decoration: underline;}

li,ol,li{list-style:none;}

table,tr,td,th,thead,tbody,tfoot
{border:1px solid #777; border-spacing:0; border-collapse:collapse;}

a:focus{outline:3px solid #fa0;outline-offset:2px; 
	position:relative;z-index:1000;}

.clearfix,.clearfix:after{content:"",display:block,clear:both;}

.container{width:960px;height:100%;background-color:#ccc;margin:0 auto;}
#header{width:100%;height:100%;background-color:#fa0;
	background-image: url("../img/icon_1.jpg");opacity:0.2;
     background-repeat:no-repeat;background-position: center centerwidth:100%;height:50%;border-bottom:5px solid #fa0;



}
#content{width:100%;height:100%;background-color: #000}
#selection{width:100%;height:50%;border-bottom:5px solid #f0a;
background-image: url(../img/image5.jpg);
background-repeat:no-repeat;background-position:center 0;
background-attachment:fixed;z-index:500;opacity:0.7;z-index:100;}
#article{width:100%;height:50%;
	background-image: url(../img/image6.jpg);
	background-repeat:no-repeat;
	background-position:center;
	z-index:300;
	opacity:0.8;
	background-attachment:fixed;}
#footer{width:100%;height:50%;background-color: #aaa}


