/* ir_02.css */
body{background-image:url("../img/mariobg.png");;background-repeat:no-repeat;background-position:center;}
h1{width:128px;height:128px;border:1px solid #acc;margin:0 auto;padding:0;}
h1>a{width:100%; height: 100%;display:block;
	background-color: #777;color:#fff;
	background-image:url("../img/icon_2.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    text-indent:-10em;}	
   
/* 특정된 class 네임 hidden 에만 숨김처리 하는 방법 */
   .hidden{width:0;height:0;overflow:hidden;display:block;}
   /* 여러개의 링크된 내용안에 숨김처리 해야하는 경우(ir기법시) */
.link a{width:100%; height:100%;display:block;}
.link a>span{width: 0;height: 0;display:block;overflow: hidden;}

ul{width:1024px;height:300px;margin:0 auto;padding:0;background-repeat:no-repeat;}
ul>li{width:256px;height:inherit;float:left;}
ul>li>a{background-repeat:no-repeat;background-position:center;width:inherit;height:100%;display:block;}
.li1>a{background-image:url("../img/mario1.jpg");animation-name:m1;}
.li2>a{background-image:url("../img/mario2.jpg");}
.li3>a{background-image:url("../img/mario3.jpg");}
.li4>a{background-image:url("../img/mario4.jpg");}

.test{width:""100; style="position:relative;}



 

