body{margin:0;}
ul,li,ol{margin: 0;padding: 0;list-style-type:none;}
a{text-decoration: none;color:#333;}

.link a{width:100%;height:100%;display:block;background-repeat: no-repeat}
.link a>span{width:0;height:0;display:block;overflow:hidden;}
.clearfix:after{content:"";display:block;clear:both;}

/* design */

ul>{width:100%;height:auto;}
ul>li{width:70px;height:70px;border:1px solid #777;margin:0.5em;float:left;}

.link>li>a{background-image:url("../img/multi_icon.png");/* background-position:-47px -44px */}

.li_01 > a{background-position:-137px -644px;}
.li_01 > a:hover{background-position:-548px -44px;transition:1s;}

.li_02 > a{background-position:-317px -44px;}
.li_02 > a:hover{background-position:-817px -44px;transition:1s;}
.li_03 > a{background-position:-407px -144px;}
.li_03 > a:hover{background-position:-907px -144px;transition:1s;}
.li_04 > a{background-position:-317px -344px;}
.li_04 > a:hover{background-position: -817px -344px;transition:1s;}
.li_05 > a{background-position:-407px -444px;}
.li_05 > a:hover{background-position: -907px -444px;transition:1s;}
.li_06 > a{background-position:-547px -544px;}
.li_06 > a:hover{background-position: -1047px -544px;transition:1s;}
.li_07 > a{background-position:-227px -243px;}
.li_07 > a:hover{background-position: -727px -243px;transition:1s;}
.li_08 > a{background-position:-317px -243px;}
.li_09 > a{background-position:-137px -344px;}
.li_10 > a{background-position:-137px -544px;}

