/* 16px == 12pt == 100% == 1em(font:상대값,박스:최초설정값) == 1rem(all:최초설정값) */
*{margin:0; padding:0; border:0;border-collapse:collapse;}
li{list-style:none;}
/* *<< 전체를 뜻함 */
body{margin:0;}/*공간값을 없애는 것*/
#box{width:600px;height:500 px;background-color:#f06;margin:50px auto;}


.header{width:100%;height:100px;background-color:rgba(255,255,255,0.2)}

h1{width:90px;height:70px;background-color:#afa;float:left;margin-bottom:15px;margin-top:15px;margin-left:15px;text-align:center;}

.navigation{width:450px;height:50px;background-color:#aaa;float:right;margin-top:35px;margin-right:15px;}
.gnb{width:100%;height:100%;background-color:#fff}
.gnb>li{width:15%;height:100%;float:left;background-color:#a6f;margin-left:1.6%;}

.section{width:100%;height:300px;background-color:#fa0;}
 
  .aside{height:300px;width:30%;background-color:#5c7;float:right;}
  .article{height:150px;width:70%;background-color:#888;float:right;}
  .container{width:70%;height:150px;background-color:#c7c;float:right;}


.footer{width:100%;height:100px;background-color:#faa;}