*{margin:0;padding:0;border-collapse:collapse;}
.Big_box{width:600px;height:2250px;background-color:beige}

.First{width:600px;height:100px;background-color:#0ef}
.Fir1{width:280px;height:100px;margin-left:25px;}
.Fir2{width:100px;height:100px;background-color:#ccc;float:right;margin-right:15px;}
.Fir3{width:100px;height:100px;background-color:#aaa;float:right;margin-right:10px;}
.Fir_text2{font-size:3pt;color:blue;margin:3px;}


.Second{width:600px;height:27px;background-color:#4d525a;border-bottom:1px solid #000}
.Sec1{width:80px;height:27px;float:right;background-color:#424742}
.Sec2{width:120px;height:27px;float:right;background-color:#4d525a}
.Sec3{width:80px;height:27px;float:right;background-color:#4d525a}
.Sec4{width:70px;height:27px;float:right;background-color:#4d525a}
.Sec5{width:70px;height:27px;float:right;background-color:#4d525a}


.Third{width:600px;height:80px;}
.Thi1{width:14.6%;height:80px;border:1px solid #222;border-top:0;float:left;background-color:#4d525a;}
.Thi2{width:70.1%;height:80px;border:1px solid #222;border-top:0;border-left:0;float:left;background-color:#4d525a;}
.Thi3{width:14.6%;height:80px;border:1px solid #222;border-top:0;float:left;border-left:0;background-color:#4d525a;}

.Forth{width:600px;height:545px;background-color:#ddd}

.Fifth{width:600px;height:1420px;background-color:#fff}
.Fif1{width:50px;height:40px;border:1px solid #ccc;float:right;margin-right:20px;margin-bottom:20px;}
.Fif2{width:50px;height:40px;border:1px solid #ccc;float:right;margin-right:10px;margin-bottom:20px;}

.Smart_Inside{margin-top:50px;margin-left:20px;float:left;border-bottom:1px solid #888}
.World_text{margin-top:150px;margin-left:20px;font-family:monospace}
.Car_text{margin-top:30px;margin-left:20px;}

.More_text{margin-top:30px;margin-left:20px;}
.More_box{margin-left:5px;background-color:#0a0;width:15px;height:15px;float:right;margin-right:470px;margin-top:5px;}

.Img{margin-top:25px;margin-left:30px;}/*사진은 margin-top이 안먹히나요?*/

.Avi{width:100%;height:300px;background-color:#444;margin-top:20px;}

.Seventh{width:600px;height:60px;background-color:#424742;border-bottom:0.5px solid #ccc}
.Sev1,.Sev2,.Sev3,.Sev4{width:80px;height:60px;border:1px solid #ccc;float:left;border-bottom:0;border-spacing:0;}
.Sev5{width:150px;height:60px;border:1px solid #ccc;float:right;border-bottom:0;background-color:#4d525a}
.Eighth{width:600px;height:120px;background-color:#424742;border-bottom:}
/* Q. border 중첩에 관하여*/