*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-weight: 300;
}

body>div{width:450px;height:250px;background-color:#ccc;margin:0 auto;}

legend{font-weight:bold;font-size:1.5rem;}
div>form{text-align:center;}
div .fieldset1{width:400px;height:150px;background-color:#888;margin:0 auto;}

.fieldset2 input{width:100px;height:30px;background-color: #ddd;float:left;}
#test{margin-left:25px;}
#test2{margin-left:100px;}
