html, body{height:100%;margin:0;padding:0;font-size:100%;font-family:"myriad pro",arial,dothum,sans-serif;}

h1{font-size:inherit;width:70%;border-bottom:1px double #569;margin-left:15%;
text-align:justify;}
/* text-align:center / right / left / justify(2줄이상 있어야함 , 짧으면 안됨); */

.content{width:300px;height:400px;background-color:#930;animation-name:cont;animation-duration:10s;animation-iteration-count:infinite;}

.font_01{color:#91c; font-size:22.4px; font-size:1.4rem;letter-spacing:.0625rem;}
.font_02{color:#19c; word-spacing:-.2rem;text-decoration:line-through;animation-name:font2;animation-duration:10s;animation-iteration-count:infinite;}
/* overflow:hidden / scroll / auto*/}
/* text-decoration:none/underline/upperline; */
.font_03{width:400px;height:300px;border:1px solid #9aa;overflow-y:auto;animation-name:font4;animation-duration:10s;animation-iteration-count:infinite;}
/* overflow:hidden / scroll / auto*/

.font_05{z-index:0;position:fixed;
	left:50%;top:100px;opacity:0;font-size:10rem;color:#5f0;animation-name:font5;animation-duration:10s;animation-iteration-count:infinite;}
@keyframes font4{
	0%{opacity:1;}
   50%{opacity:0;}
   100%{opacity:1;}}
@keyframes cont{
	100%{background-color:#fff;border-radius:1000px}
}
@keyframes font5{100%{opacity:1;color:#f8a;}}
@keyframes font2{100%{transform:translateX(1000px)}
/*white-space: nowrap; -줄바꿈처리를 하지 않도록 함*/
/* text-overflow:ellipsis; -말줄임표를 사용해라 */

