/* test_02_unb.css */
/* reset */

body,html{height:100%;}
/* body
 */

 background-color:#acc}
.unb{width:260px;height:18px; float:left; margin-top:18px;
	 margin-right:20px;background-color:#fff;}
.unb>h2{width:0;height:0;overflow:hidden;}

.unb>ul{width:100%; height:100%;}

.unb>ul>li{float:left;height:100%,font-transform:uppercase;font-size:0.8rem;
text-align:center;border-right:1px solid #888; padding-right:1px;}
/* 대문자:uppercase소문자 lowercase; */
.unb>ul>li>a{float:left;color:#333;text-decoration:none;}
.unb_01{width:58px;/* background-color:#09c;*/}
.unb_02{width:52px;/* background-color:#99f;*/}
.unb_03{width:63px;/* background-color:#0cc;*/}
.unb_04{width:84px;/* background-color:#99f;*/}
.unb_04 abbr{word-spacing:-0.3rem;}
.unb_04 abbr:after{content="/";}/*접근성 위해서 콘텐츠 삽입.*/
.unb_04>span{width:0;height:0;display:inline-block;overflow:hidden;}
.unb_bar{float:right;}

