h1{text-align:center;border-bottom:1px solid}

table,tr,td,th,thead,tbody,tfoot{border:0;text-align:center;
border-style:solid;
border-color:#259;
border-spacing:0;
border-collapse:collapse;
border-left:0;
border-right:0;}

td{padding:0.5rem;}
table{width:700px;margin: 2rem auto;}

.bold_text{font-weight:bold;}
.gray_text{color:gray;}
.gray_text1{color:gray;border-bottom:3px solid}
thead th{border:0;}
.see{border-bottom:2px solid #888}
.caption{font-size:0;}

thead{border-bottom:3px solid}
thead,th{text-align: left;}
.border_line_none_top{border-top:0;}
.border_line_none_bottom{border-bottom:0;}
th{margin:3px;}