body{background-image:url();}
address{font-style:normal;}

.container{width: 960px;height:auto;background-color:#eee;margin:0 auto;background-image:url("../img/background/bg_hanji.png")}

/*header --------------------------------------------------*/
header{width:inherit;height:490px;
		background-image:url("../img/header/hangle_dance.png");
		animation:hangle_dance 3s linear infinite alternate;
		animation-delay:1s;}

@keyframes hangle_dance{100%{background-image:url(../img/header/hangle_dance_animate.png);}}


/* gnb------------------------------------------------------ */
.gnb{width:inherit;height:70px;background-color:#f0b;
	padding:18px 100px 18px 100px;box-sizing:border-box;background-image:url(../img/header/gnb_box.png);}
.gnb>ul{width:100%;height:100%;}
.gnb>ul>li{height:34px;font-size:1.5rem;text-align:center;color:#fff;}
.gnb>ul>li>a{color:#fff;}
.gnb>ul>li>a:hover,.gnb>ul>li>a:focus{color:#ccc;}

.submit_01{width:200px;float:left;}
.submit_02{width:54px;margin-left:64px;float:left;}
.submit_03{width:82px;margin-left:64px;float:left;}
.submit_04{width:82px:;float:left;margin-left:64px;}
.submit_05{width:112px;float:right;}
/* content-------------------------------------------------- */


/* prologue------------------------------------------------- */

.prologue{width:960px;height:1088px;padding:100px 180px 126px 180px ;box-sizing:border-box;}
.prologue>ul>li{width:100%;text-align:center;font-size:1.5rem;color:#262e37;background-position:center;background-repeat: no-repeat}
.prologue>ul>li:nth-child(1){height:270px;background-image: url("../img/header/monami_pen.png");}
.prologue>ul>li:nth-child(2){margin-top:38px;height:190px;background-image:url(../img/text/prologue_text.png);}
.prologue>ul>li:nth-child(3){margin-top:70px;height:120px;}
.prologue button{width:196px;height:56px;background-color:#262e37;color:#fff;border-radius:20px;margin-top:126px;transition:0.5s;margin-left:200px;font-size:1.5rem;}
.prologue button:hover,.prologue button:focus{color:#262e37;background-color:transparent;font-weight:bold;border: 2px solid #262e37;}

/*addBanner----------------------------------------------*/
.addBanner{width: 148px;height: 258px;background-image:url("../img/addBanner/addbanner.png");position:fixed;top:40px;left:50%;padding:40px 20px 40px 20px;box-sizing:border-box;text-align:center;font-weight:bold;margin-left:520px;}
.addBanner>p{line-height:30px;text-align:center;}
.addBanner>p>a>span,.addBanner>div>p>span,.addBanner>p>span{font-weight:bold;font-size:1.5rem;text-shadow:3px 3px 3px #ccc;}
.addBanner>ul>li>p>a{line-height:38px;font-size:1.05rem;color:#000;text-shadow:2px 2px 2px 2px #fff;}

.addBanner>ul>li>p>a:hover,.addBanner>ul>li>p>a:focus
{opacity:0.5;}






/*article----------------------------------------------------*/

.article{width:960px;height:1022px;background-color:#fff;}
.article>ul{width:100%;height:100%;background-image:url("../img/background/bg_article.png");}
.article>ul>li{width:100%;height:156px;transition:1s;background-repeat:no-repeat;background-position:center;}
.article>ul>li:hover,.article>ul>li:focus{background-color:#ccc;}
.article>ul>li:nth-child(1){background-image:url("../img/text/whoiswinner.png");background-color:transparent;}
.article>ul>li:nth-child(2){background-image:url(../img/article/article_box/white_box_01.jpg)}
.article>ul>li:nth-child(2):hover{background-image:url("../img/article/article_shadow/shadow_box_01.jpg")}
.article>ul>li:nth-child(3){background-image:url(../img/article/article_box/white_box_02.jpg)}
.article>ul>li:nth-child(3):hover{background-image:url("../img/article/article_shadow/shadow_box_02.jpg")}
.article>ul>li:nth-child(4){background-image:url(../img/article/article_box/white_box_03.jpg)}
.article>ul>li:nth-child(4):hover{background-image:url("../img/article/article_shadow/shadow_box_03.jpg")}
.article>ul>li:nth-child(5){background-image:url(../img/article/article_box/white_box_04.jpg)}
.article>ul>li:nth-child(5):hover{background-image:url("../img/article/article_shadow/shadow_box_04.jpg")}
.article button{width:196px;height:56px;background-color:#262e37;color:#fff;border-radius:20px;margin-left:380px;transition:0.5s;margin-top:78px;font-size:1.5rem;}
.article button:hover,.article button:focus{color:#262e37;background-color:transparent;font-weight:bold;border: 2px solid #262e37;}

/*gallery----------------------------------------------------*/

.gallery{width:960px;height:1342px;padding:90px 80px 108px 80px;box-sizing:border-box;background-image:url(../img/background/gallery_background.png); }
.gallery>dl,.gallery>dl>dt{width:100%;height:auto;background-position:center;background-repeat:no-repeat;}
.gallery>dl>dt{width:176px;height: 88px;;margin:0 auto;margin-bottom:90px; background-image:url("../img/text/Gallery_text.png");}

.gallery>dl>dd>a{width:380px;height:380px;float:left;transition:1s;display:block; position: relative;}
.gallery>dl>dd>a:hover:after,
.gallery>dl>dd>a:focus:after{background-color:rgba(0,0,0,0.5);display:block;}
.gallery>dl>dd>a:after{content:""; display: block;color:#fff;font-size:3rem;text-align:center;
	width: 100%;height: 100%; position: absolute; top: 0; left: 0; z-index: 100; background-color:transparent;display:none;transition:1s;}
.gallery>dl>dd>a>span
{color:transparent;text-align:center;top:20%;font-size:3rem;font-weight:bold;display:block;width:100%;height:40px;	
	position:absolute; z-index: 200;transition:1s;}
.gallery>dl>dd>a>.name{top:50%;font-size:2rem;}

/*.gallery>dl>dd>a>span:hover{color:#000;text-align:center;line-height:190px;font-size:3rem;font-weight:bold;display:block;}*/
.gallery>dl>dd>a:hover span,
.gallery>dl>dd>a:focus span{color: #fff;transform:scale(1.2);}

.gallery>dl>dd:nth-of-type(2n)>a{float:right;}
.gallery>dl>dd:nth-of-type(1)>a{background-image:url("../img/gallery/gallery_img_03.jpg");}
.gallery>dl>dd:nth-of-type(2)>a{background-image:url("../img/gallery/gallery_img_02.jpg");}

.gallery>dl>dd:nth-of-type(3)>a{margin-top:50px;background-image:url("../img/gallery/gallery_img_01.jpg");}
.gallery>dl>dd:nth-of-type(4)>a{margin-top:50px;background-image:url("../img/gallery/gallery_img_04.jpg");}
.gallery button{width:196px;height:56px;background-color:#262e37;color:#fff;border-radius:20px;margin-left:300px;transition:0.5s;margin-top:110px;font-size:1.5rem;}
.gallery button:hover,.gallery button:focus{color:#262e37;background-color:transparent;font-weight:bold;border: 2px solid #262e37;}


/*awards-----------------------------------------------------*/

.awards{width:100%;height:620px;background-color:#ccc;margin-top:80px;background-image:url("../img/awards/awards_bg.jpg");background-repeat:no-repeat;position:relative;}
.awards>h2{text-align:center;color:;width:176px;height:88px;margin:0 auto;position:absolute;z-index:100;left:50%;top:70px;margin-left:-88px;background-image:url("../img/text/awards.png");background-repeat:no-repeat;background-position:center}
.awards button{width:196px;height:56px;background-color:#262e37;color:#fff;border-radius:20px;margin-left:380px;transition:0.5s;bottom:0;font-size:1.5rem;position:absolute;margin-bottom:70px;}
.awards button:hover,.awards button:focus{color:#262e37;background-color:transparent;font-weight:bold;border: 2px solid #262e37;}

/*notice-----------------------------------------------------*/

.notice{margin-top:176px;width:100%;height:486px;background-color:#777;background-image:url("../img/notice/notice_bg.jpg");position:relative;}
.notice>h2{text-align:center;color:#fff;display:block;width:200px;height:88px;margin:0 auto;position:absolute;top:70px;margin-left:88px;background-image:url("../img/text/notice_text.png");background-position:center;background-repeat:no-repeat;left:50%;margin-left:-100px;}
.notice button{width:196px;height:56px;background-color:#ffd0d2;color:#262e37;border-radius:20px;margin-left:380px;transition:0.5s;bottom:0;font-size:1.5rem;position:absolute;margin-bottom:70px;font-weight:bold;}
.notice button:hover,.notice button:focus{color:#fff;background-color:transparent;border: 2px solid #fff;}






/* footer   ---------------------------------------------*/
footer{margin-top:176px;}


/*footer_box1 */

.footer_box1{height:124px;background-color:#262e37;padding-left:124px;padding-right:124px;box-sizing:border-box;padding-left:62px;padding-right:62px;}

.footer_box1>.logo,.footer_box1>.address{float:left;text-align:left;text-indent:30px;line-height:25px;font-size:0.9rem;}
	
	.logo{width:168px;height:34px;color:#fff;background-image:url("../img/footer/white_monami.png");background-position:center;margin-top:45px;}
	.address{color:#fff;float:left;margin-top:20px;}
	.info{width:230px;height:40px;background-color:
		#374451;float:right;margin-top:45px;border-radius:20px;}
		.info>ul>li{float:left;font-size:0.75rem;line-height:32px;text-indent:3.5px;}
		.info>ul>li>a{color:#fff}
		.info>ul>li>a:hover,.info>ul>li>a:focus{color:#ccc}
		.info>ul>li:nth-child(1){width:25%;height:auto;}
		.info>ul>li:nth-child(2){width:50%;height:auto;}
		.info>ul>li:nth-child(3){width:25%;height:auto;}

/*footer_box2*/

.footer_box2{width:960px;height:104px;background-color:#384452;padding-left:64px;padding-right:64px;box-sizing:border-box;padding-left:62px;padding-right:62px;}
.footer_box2>div{float:left;width:300px;height:100%;}
.footer_box2>div>p{line-height:25px;color:#ccc;margin-top:5px;font-size:0.8rem;}


.footer_box2>ul{width:240px;height:100%;float:right;}
.footer_box2>ul>li>a{width:52px;height:52px;float:left;background-color:#000;margin-top:26px;}
.footer_box2>ul>li:nth-of-type(n+1)>a{margin-left:8px;}
.footer_box2>ul>li:nth-child(1)>a{background-image:url("../img/footer/footer_icons_01.jpg");}
.footer_box2>ul>li:nth-child(2)>a{background-image:url("../img/footer/footer_icons_02.jpg");}
.footer_box2>ul>li:nth-of-type(3)>a{background-image:url("../img/footer/footer_icons_03.jpg");}
.footer_box2>ul>li:nth-of-type(4)>a{background-image:url("../img/footer/footer_icons_04.jpg");}

.footer_box2>ul>li:nth-of-type(n)>a:hover,
.footer_box2>ul>li:nth-of-type(n)>a:focus{opacity:0.5;}


/* ===================================================== */