// _color.scss
$w:#{width};
$p:#{position};
$mc:#00696a;
$bc:#b3d6d2;
$ic:#518b8d;
$imc:#29aae1;
$lgc:#ecf7f6;
$blc:#4c4d4f;
$e9:#e9e9e9;
$ef:#efefef;
$nav:#ecf7f6;
$g_font:#006769;
$b_font:#6d6e6f;
$after:#4f3f3f;
$orange:#f68b1f;