//mainpage_mob.scss
@import "_mixin";

@media screen and (max-width:639px){
	
// #headBox -------------------------------------------

#headBox{
			width:100%;
			min-height:60px;
			background:{color:#fff;}
			position:relative;
		
				>h1{min-width:120px;
		   		   width:33.3333333vw;
		   		   height:40px;
		   		   margin-top:10px;
		   		   left:50%;
		   		   margin-left:-16.6666666vw;
		   		   position:absolute;
			
			  		>a{display:block;
			  			width:100%;
			  			height:100%;
			  			@include back("../../img/src/logo_360.jpg",100%);}
			 		 }

		#menu{width:34px;
			  height:24px;
			  background-color:transparent;
			  float:left;
			  margin-left:2.7777778vw;
			  margin-top:10px;
			  
			  		i{
			  			font-size:40px;
			  			color:$ic;
			  		}//i
			} //#menu

		#home{width:34px;
			  height:24px;
			  background-color:transparent;
			  margin-right:2.7777778vw;
			  margin-top:10px;
			  float:right;
			
			  	i{font-size:40px;color:$ic;}
			}//#home
		
		}//#headBox


#navi{display:none;}
	
#addBanner{		
				width:100%;
				min-height:240px;
				height:66.666667vw;
				background-color:$ic;
				repeat:no-repeat;
				image:url("../../img/src/ban_360.jpg");
				size:cover;
				background-position:center;
				position:relative;
				@include b-set();
			>.mainBanner{position:absolute;
						 width:91.1111111vw;
						 min-height:190px;
						 height:52.77777778vw;
						 margin-top:5.88888889vw;
						 margin-left:3.66666667vw;
						 left:0;
				>h2{margin-top:5.6666667vw;
					margin-left:16.6666667vw;
					@include font330(6.33333334vw);
					color:#eae2e3} //h2
					
					
				>h3{@include font330(4.666667vw);
					color:#fff;
					margin-left:16.66666667vw;} //h3
					 

				>h4{
					margin-top:2.8vw;
					>a{font-weight:200;					
					@include font310(4.6666667vw);
					color:#fff;
					margin-left:16.66666667vw;}//h4>a
					}//h4
			
			}//div
			>div.leftBox{display:none}
			>div.textBanner{display:none}
	}//#addBanner
	
#addBanner::after{
		@include after();
		border:6px solid #fff;
		width:91.1111111vw;
		min-height:190px;
		height:52.7777778vw;
		margin-top:5.888889vw;
		margin-left:3.6666667vw;
		left:0;

	}//addBanner::after


#content_01{width:100%;
			height:122.2222222vw;
			background-color:#fff;
			width:100vw;
			height:calc(100% - 90vw);
			@include b-set();
				
				.textBox_01{
								h2{
									@include font340(7.7777778vw);
									color:$g_font;
									padding-left:30.88888889vw;
									padding-top:5.555555556vw;
								}//h2
						
								h3{@include font310(3.3333333vw);
								   color:$b_font;
								   text-align:center;
								   margin-top:10px;
								}//h3

		}//.textBox_01
				
		.insideBox{	
					width:100vw;
					height:90vw;
					background-color:#fff;
	
			>li{width:50vw;
				height:50vw;
   				background-color:#fff;
   				float:left;
				.sizeBox{width:50vw;
						 min-height:360px;
						 height:50vw;
					>li{width:100%;
						height:40%;
						background-color:#fff;}
   				.icon_01{
   					@include back("../../img/src/icon_01.jpg",50%);}
   				.icon_02{
   					@include back("../../img/src/icon_02.jpg",40%);}
   				.icon_03{
   					@include back("../../img/src/icon_03.jpg",40%);}	
   				.icon_04{
   					@include back("../../img/src/icon_04.jpg",40%);}	
				h4{
   					height:60%;
					@include font330(6.666667vw);
   					text-align:center;
   					color:$g_font;
   					background-color:#fff}
				h5{display:none;height:40%;}//.sizeBox
   		
		   		} //sizeBox
			} //li
		
		} //insideBox

} //#content_01




	#content_02{@include b-set();
				width:100%;
				height:122.2222222vw;
		
				.textBox_02{width:100vw;
							height:calc(100% - 96.6666667vw);
							background-color:$lgc;
					
							h2{	@include font340(6.7777778vw);
								color:$g_font;
								padding-left:14.77777778vw;
								padding-top:5.555555556vw;
							   }//h2
							
							h3{ @include font310(3.3333333vw);
								color:$b_font;
								text-align:center;
								margin-top:10px;
							   } //h3
				
							}//.textBox_02

			ul{ width:100vw;
				height:96.6666667vw;
				background-color:$nav;
				
				>li{ width:50vw;
					height:48.3333334vw;
					background-color:$nav;
					float:left;
					
					>a{width:100%;height:100%;
						
						div{width:100%;height:60%;
							&.icon_05{@include back("../../img/src/icon_05.png",57%);}
							&.icon_06{@include back("../../img/src/icon_06.png",57%);}
							&.icon_07{@include back("../../img/src/icon_07.png",57%);}
							&.icon_08{@include back("../../img/src/icon_08.png",57%);}
						} //div
						h4{ width:100%;
							text-align:center;
							@include font330(5.3333334vw);
							line-height:2.5;
							color:$g-font;
							} //h4
										
						}//a
					}//li
				}//ul
		
		}//#content_02



	#content_03{
		@include b-set();
		width:100%;
		min-height:430px;
		height:119.4444444vw;
		background-color:#fff;
		
		>h2{@include font340(6.7777778vw);
			min-height:60px;
			height:16.66666667vw;
			width:100%;
			display:block;
				color:$g_font;
				padding-left:14.77777778vw;
				padding-top:5.555555556vw;
			}//h2
		>div.imgBox{width:100%;
					min-height:170px;
					height:47.22222222vw;
					background-color:#fab;}
		
		>ul{width:100vw;
			min-height:200px;
			height:55.5555556vw;
				>li{
					width:100vw;
					height:33.33333334%;
					background-color:$e9;
					@include font340(5.3333334vw);
					>div{width:30%;height:100%;background-color:#f0b;float:left;}
					>h3{width:70%;height:100%;float:left;line-height:3.5;}
				}
		}//ul
	}//content_03
	#articleBox{
		@include b-set();
		width:100%;
		min-height:300px;
		height:83.33333333vw;
		background-color:$ic;
	}//articleBox
	#articleBox::after{
						@include after();
						border:6px solid #fff;
						width:91.1111111vw;
						height:72.2222222vw;
						margin-top:3.88888889vw;
						margin-left:1.7777778vw;


					  }//articleBox::after
	
	#articleTab{
		@include b-set();
		width:100%;
		height:33.33333%;
		min-height:210px;
		height:58.33333333vw;
		background-color:$blc;
		
		ul{width:100%;height:100%;
			>li{width:100%;
				height:33.333334%;
			}
	}//ul
}//articleTab
	
	#footBox{
		width:100%;
		min-height:180px;
		height:50vw;
		background-color:#fff;
		.snb{width:100%;
			height:16.6666667vw;
			background-color:$ef;}
	}//footBox

}//media screen