//mainpage_mob.scss
@import "_mixin";

@media screen and (max-width:639px){
	
// #headBox -------------------------------------------

#headBox{	transition:all 0.5s;
			width:100%;
			min-height:60px;
			background:{color:#fff;}
			$p:relative;
		
				>h1{min-width:120px;
		   		   width:33.3333333vw;
		   		   height:40px;
		   		   margin-top:10px;
		   		   left:50%;
		   		   margin-left:-16.6666666vw;
		   		   position:absolute;
			
			  		>a{display:block;
			  			width:100%;
			  			height:100%;
			  			@include back("../img/src/logo_360.jpg",100%);}
			 		 }

		#menu{width:34px;
			  height:24px;
			  background-color:transparent;
			  float:left;
			  margin-left:2.7777778vw;
			  margin-top:10px;
			  
			  		i{
			  			font-size:40px;
			  			color:$ic;
			  		}//i
			} //#menu

		#home{width:34px;
			  height:24px;
			  background-color:transparent;
			  margin-right:2.7777778vw;
			  margin-top:10px;
			  float:right;
			
			  	i{font-size:40px;color:$ic;}
			}//#home
		
		}//#headBox


#navi,#navi_popup_pc{display:none;}
// #navi_accordion ----------------------------------------------
	#navi_accordion{
					position:absolute;
					width:100vw;
					height:auto;
					background-color:#fff;
					left:0;
					top:0;
					margin-top:60px;
					z-index:500;
					border:2px solid #b6d7d4;
					display:none;
					>h2{width:100%;
						height:8.125vw;
						color:#f68b1f;
						padding-top:1.25vw;
						padding-left:28%;
						font-size:2.8125vw;

						@include font330(3.125vw);
						>i{font-size:4.375vw;
						   margin-top:0.3125vw;
						   margin-right:1.5625vw;
						   float:left;
						   transition:all 0.3s;
						   &:hover{color:#f68b1f;}
						   cursor:pointer;
							}
						>span{float:left;
							  padding-top:0.625vw;
							  padding-left:1.5625vw;
							  text-align:center;
							  cursor:pointer;}
						}//h2
					dt{ width:100%;
						height:10.125vw;
						border-top:1px solid #b6d7d4;
						border-bottom:1px solid #b6d7d4;
						float:left;
						text-align:center;
						padding-top:2.1875vw;
						@include font330(4.125vw);
						color:$b_font;
						transition:all 0.5s;
						&:hover{background-color:$b_font;color:#fff}
						cursor:pointer;}
					dd{width:100%;
					   height:auto;
					   display:none;
					   cursor:pointer;
					   >ul{&:nth-of-type(1){width:55%;}
					  	   &:nth-of-type(2){width:45%;}
					   	   height:auto;
					   	   float:left;
					   	   text-align:center;
						   &:nth-of-type(2){display:none}					   	   	   	  
					   	   >li{@include font330(3.2vw);
					   	   	   color:$b_font;
					   	   	   width:100%;
					   	   	   height:8.25vw;
					   	   	   line-height:2.4;
					   	   	   border-right:solid 2px #b6d7d4;
					   	   	   transition:all 0.5s;
							   &:hover{background-color:$b_font;color:#fff;}
									
					   	   		}//li

					   	   }
					   }

				}//navi_accordion
	

	
	#footBox{
		width:100%;
		min-height:180px;
		height:40vw;
		background-color:#fff;
		.snb{width:100%;
			height:16.6666667vw;
			background-color:$ef;
			>.snb_for_mini{width:inherit;
						   height:inherit;
						   padding-top:4.555555vw;padding-left:10.4444445vw;
						>li{float:left;
							@include font330(5.22222vw);
							&:nth-of-type(1){}
							&:nth-of-type(2){color:#f68b1f;margin-left:3.444444vw;}
							&:nth-of-type(3){margin-left:4.444444vw;}
							>i{color:#f68b1f;padding-right:3.222222vw;}
						}//li
				}//.snb_for_mini
		
		}//.snb
			.snb_for_pc{display:none}
			.fnb_for_pc{display:none}
		
		.fnb_for_mini{@include font330(16px);
					 text-align:center;
					 padding-top:20px;
					>li:nth-of-type(2){padding-top:16px;}
					}//.fnb_for_mini
	}//footBox
	#footPopup_site{display:none;}
    #footPopup_allMenu{display:none;}
}//media screen
