//mainpage_tab.scss

@import "_mixin";

@media screen and (min-width:960px) and (max-width:2560px) {
	#headBox{
		@include max;
		margin:0 auto;
		width:960px;
		height:74px;
		position:relative;
		background:{color:#fff;}
	
	&::after{		
				@include after(-200);
				width:100vw;
				height:80px;
				background-color:#fff;
				left:50%;
				margin-left:-50vw;} 
			>#menu{display:none;}
			>#home{display:none;}
				
		h1{min-width:120px; 
		   min-width:230px;
		   height:80px;
		   left:50%;
		   position:absolute;
		   margin-left:-115px;

			a{display:block;
			  width:100%;
			  height:100%;
			  @include back("../img/src/logo_640.jpg",100%);

		} // #headBox > h1 >a
	
		}//h1
	}//#headBox
	#navi{@include max;
		width:960px;
		height:100px;
		background:{color:$lgc};
		margin:0 auto;
		display:block;
			>ul{width:100%;height:100%;
				>li{ position:relative;
					&:nth-child(1){margin-left:px;}
					font-family: 'Noto Sans KR', sans-serif;
					font-size:18px;
					float:left;
					font-weight:bold;
					color:#006869;
					margin-top:38px;
					margin-left:24px;
					&:last-of-type::after{display:none}
					&::after{@include after;
							width:10px;
							height:14px;
							border-right:0.8px solid $b_font;
							margin-left:10%;
							bottom:20%;
							right:0;
							top:6px;
							margin-right:-10px;}
					color:$ic;}
			}//#navi>ul
	}//#navi

	#navi::after{	
					@include after(-100);

					width:100vw;
					height:100px;
					background-color:$lgc;
					left:50%;
					top:7.5%;
					margin-left:-50vw}


// navi_popup --------------------------------------------------
	#navi_popup{width:960px;
				height:314px;
				background-color:#fefbfb;
				position:fixed;
				top:0;
				margin-top:174px;
				z-index:1000;
				left:50%;
				margin-left:-480px;
				@include b-set(1px);
				display:none;
				
				>ul{float:left;height:100%;
				&.pop_01{width:190px;
						padding-left:38px;
						padding-top:46px;
						border: 1px solid $bc;
						border-top:0;
						border-bottom:0;

						>li{margin-top:24px;
							&:nth-of-type(1){margin-top:0}
							@include font330(19px);
							color:#4c4d4f;
							}//li
					}//pop_01
				
				&.pop_02{width:190px;
						padding-left:52px;
						padding-top:46px;
						border-right: 1px solid $bc;						
						
 						>li{margin-top:24px;
							&:nth-of-type(1){margin-top:0}
							@include font330(19px);
							color:#4c4d4f;
							}//li

					}//.pop_02
				 &.pop_03{width:580px;

				 		  padding-left:45px;
						  padding-bottom:70px;
						  padding-top:70px;					
						  
						  >li{width:220px;
						  	  height:162px;
						  	  float:left;
						  	 &:nth-of-type(2){margin-left:60px;}
						  		>img{width:80px;
						  			height:80px;
									margin-left:80px;}
						  		>span{width:240px;height:auto;margin-top:12px;float:left;text-align:center;
						  			@include font330(22px);}
						  		>p{width:240px;
						  		   height:auto;
						  		   float:left;
						  		   text-align:center;
						  		   @include font310(18px);
						  		   padding-top:10px;}
						  		}//li
					 		

						}//pop_03

				}//ul

			}//#nai_popup


	// #navi_popup::before{width:100vw;height:314px;@include after(500);background-color:#fefbfb;}

	#Banner{width:960px;height:400px;margin:0 auto;position:relative;}
// #addBanner_01----------------------------------------------------

	#addBanner{
		@include back("../img/src/ban_640.jpg",cover);
		@include b-set(2px);
		margin:0 auto;
		height:400px;
		width:960px;
		position:absolute;
		>.addNavi_01,.addNavi_02{width:8px;height:8px;background-color:#fff;border-radius:50%;margin-top:18%;right:3%;position:absolute;}
		>.addNavi_02{margin-top:22%;}
					>.mainBanner{position:absolute;
						 width:100vw;
						 min-height:190px;
						 height:32.77777778vw;
						 margin-top:40px;
						 margin-left:2.66666667vw;
						 left:0;
				>h2{margin-top:56px;
					margin-left:480px;
					@include font330(30px);
					color:#eae2e3} //h2
					
					
				>h3{@include font330(20px);
					color:#fff;
					margin-left:480px;
					margin-top:14px;} //h3
					 

				>h4{>a{font-weight:200;
					@include font310(24px);
					color:#fff;
					margin-left:480px;
					margin-top:14px;}//h4>a
					margin-top:14px;
					}//h4
			
			}//div
		>.leftBox{width:206px;
				  height:100%;
				  float:left;
				  margin-left:276px;
		
					>div.textBanner{>p{@include font330(36px)
										  text-align:center;
										  padding-top:106px;
										  padding-left:0px;}
						@include opacity(0.7);
						width:126px;
						height:306px;
						background-color:#fff;
						margin-top:58px;
						float:right;
		}//.textBanner
	}//.whiteBox
}//#addBanner

// addBanner_02-----------------------------------------------------
	#addBanner_02{
		@include b-set(2px);
		margin:0 auto;
		height:400px;
		width:960px;
		position:absolute;
		background-image:url("../img/src/secondBanner.png");
		background-repeat:no-repeat;
		display:none;
		>.addNavi_01,.addNavi_02{width:8px;height:8px;background-color:#fff;border-radius:50%;margin-top:18%;right:3%;position:absolute;}
		>.addNavi_02{margin-top:22%;}
					>.mainBanner_02{
						 width:520px;
						 min-height:190px;
						 height:400px;
						 float:right;
						 background-color:rgba(51,133,135,0.95);
						 padding-left:46px;
				>h2{width:auto;
					height:auto;
					margin-top:56px;
					@include font330(30px);
					color:#eae2e3} //h2
					
					
				>h3{width:auto;height:auto;
					float:left;
					@include font330(20px);
					color:#fff;
					margin-top:14px;} //h3
					 

				>h4{span{@include font330(16px);}
					float:left;
					font-weight:200;
					@include font320(16px);
					color:#fff;
					margin-top:14px;//h4>a
					margin-top:14px;
					line-height:1.4;
					}//h4
				>p{span{@include font330(16px);}
					float:left;
					margin-top:4px;
					@include font320(16px);
					color:#fff;}
				>a{display:block;float:left;@include font330(18px);margin-top:10px;}
			}//div
		>.leftBox{width:440px;
				  height:400px;
				  float:left;
		
					>div.textBanner{>p{@include font330(36px)
										  text-align:center;
										  padding-top:106px;
										  padding-left:0px;}
						@include opacity(0.7);
						width:126px;
						height:306px;
						background-color:#fff;
						margin-top:58px;
						float:right;
		}//.textBanner
	}//.whiteBox
}//#addBanner
// -------------------------------------------------------------------
	
	#addBanner::after{
		@include after();
		@include b-set(2px);
	 	border:10px solid #fff;
	 	width:506px;
	 	height:306px;
	 	top:0;
	 	margin-left:346px;
	 	margin-top:48px;
	 }
	#content_01{
		@include max;
		margin:0 auto;
		width:960px;
		height:444px;
		background:{color:#f07;}
		.textBox_01{
			width:960px;
			height:160px;
			background-color:#fff;
			h2{
			@include font340(36px);
			color:$g_font;
			padding-left:388px;
			padding-top:25px}
			
			h3{
			@include font310(20px);
			color:$b_font;
			text-align:center;
			margin-top:12px}
		
		} //textBox_01
		.insideBox{	
					@include max;
					width:100%;
					height:284px;
					background-color:#8f7;
	
			>li{@include max;
		   		width:25%;
		   		height:284px;
		   		background-color:$imc;
		   		float:left;
				
				.sizeBox{width:100%;
						 height:100%;
						 background-color:#fff;					
					>li{width:100%;
						&:nth-of-type(1){width:100%;height:40%;}
						}//li
   				.icon_01{
   					@include back("../img/src/icon_01.jpg",60%);}
   				.icon_02{
   					@include back("../img/src/icon_02.jpg",45%);}
   				.icon_03{
   					@include back("../img/src/icon_03.jpg",45%);}	
   				.icon_04{
   					@include back("../img/src/icon_04.jpg",45%);}
				h4{
   				@include font330(34px);
   				text-align:center;
   				line-height:2.5;
   				height:20%;}
				
				h5{display:block;
				   color:$b_font;
				   text-align:center;
				   margin-top:20px;}//.sizeBox
   		
		   		} //sizeBox
			} //li
		
		} //insideBox

	}
	#content_02{
		@include max;
		@include b-set(2px);
		margin:0 auto;
		width:960px;
		height:452px;
			
		.textBox_02{
			width:100%;
			height:120px;
			background-color:$lgc;

			h2{	@include font340(36px);
			color:$g_font;
			padding-left:276px;
			padding-top:25px;
			}; //h2
				
				h3{
					@include font310(20px);
					color:$b_font;
					text-align:center;
					margin-top:10px;
					margin-left:30px;}
			};

		div{width:960px;
			height:332px;
			background-color:$lgc;} //div
		ul{ width:100%;
			height:332px;
			background-color:#8f7;
		
		li{
			width:25%;
			height:332px;
			background-color:$lgc;
			float:left;}//li
			a{width:100%;height:100%;
				
				div{width:100%;height:60%;} //div
					
					.icon_05{@include back("../img/src/icon_05.png",72%);}
					.icon_06{@include back("../img/src/icon_06.png",72%);}
					.icon_07{@include back("../img/src/icon_07.png",72%);}
					.icon_08{@include back("../img/src/icon_08.png",72%);}
			
				h4{width:100%;height:40%;
					text-align:center;
					@include font330(24px);line-height:4;
					color:$g-font;
					background-color:#lgc;}
						
					}//a
				

				}//li
			}//ul
	#content_03{
		@include max;
		width:960px;
		height:444px;
		background:{color:#fff};
		margin:0 auto;
		>h2{width:100%;height:74px;text-align:center;
			line-height:1.8;@include font340(36px);padding-top:25px;}
		.con03_leftBox{ @include max;
			width:50%;
			height:370px;
			float:left;
			margin-top:0;
		>li{ @include max;
			width:100%;
			height:33.33333334%;
			padding-left:40px;
			>ul{width:20%;height:100%;width:88px;
				float:left;padding-left:32px;
				>li{width:100%;height:100%;
				&.con03_icon01{@include back("../img/src/beautiful_icon.jpg",90%);}
				&.con03_icon02{@include back("../img/src/center_icon.jpg",90%);}
				&.con03_icon03{@include back("../img/src/story_icon.jpg",90%);} 
					}
				}
			>h3{float:left;line-height:5.1;@include font330(24px);padding-left:20px;}

			} //li
		}//.con03_leftBox
		.imgBox{ @include max;
			width:50%;
			height:370px;
			float:right;
			@include back("../img/src/donation_pic.png",100%);
			
		}// .imgBox
	}// #content_03

	#content_04{@include max;
				width:960px;
				height:400px;
				margin:0 auto;
				background-color:#f0b;
			}
	#content_04::after{		
	 	@include after();
	 	border:10px solid #fff;
	 	width:500px;
	 	height:340px;
	 	margin-top:22px;
	 	margin-left:36px;}

	#articleBox{
				@include b-set(2px);
				@include p_rel;
				width:50%;
				height:400px;
				float:left;
				padding-left:200px;
				box-sizing:border-box;
				@include back("../img/src/united_forign.jpg",cover);
	// &::after{@include after();
	// 		 @include p_abs(200);
	// 		width:100%;
	// 		height:400px;
	// 		left:0;
	// 		background-color:rgba(49,131,133,0.6)}			
				>.art_textBox{
					@include p_abs(300);
					width:390px;
					height:340px;
					right:0;
					margin-top:30px;
					padding-top:34px;
					padding-left:6px;
					box-sizing:border-box;

					>h2{padding-left:14px;
						@include font330(34px)
						;color:#fefefe;
					}
					>h3{@include font310(24px);
						padding-top:32px;
						color:#e0e9e9;}
					>h4{padding-top:14px;@include font310(18px);color:$lgc;}
					>a{display:block;width:auto;height:auto;padding-top:12px;color:$lgc;}
				}
					
	}// #articleBox
	#articleTab{
		@include b-set(1px);
		@include padding(30px,50px,14px,102px);
		width:50%;
		height:400px;

		float:right;
		box-sizing:border-box;
		background-color:$blc;
		ul{width:356px;
			height:328px;
			

		li{	width:100%;
			height:33.333334%;
			color:#efefef;
			padding-top:25px;
			background-color:$blc;
			span{width:52px;height:52px;
				float:left;
			&.artTab_icon_01{@include back("../img/src/awards.png",100%);}
			&.artTab_icon_02{@include back("../img/src/earth.png",100%);
							 @include font310(20px);}
			&.artTab_icon_03{@include back("../img/src/robot.png",100%);}
			

			}
			p{width:280px;@include font320(18px);float:left;padding-left:30px;@include font330(20px);color:#efefef;}
			a{display:block;width:calc(100%-52px);float:right;padding-top:20px;@include font310(18px);color:#efefef;}

				}
				
		}
}
	#footBox{
		@include max;
		margin:0 auto;
		width:960px;
		height:310px;
		background-color:#fff;
		position:relative;
		.snb{@include b-set(1px);
			margin:0 auto;
			width:100%;
			height:100px;
			background-color:#efefef;
			position:relative;
			>ul{width:100%;
				height:100%;
				padding-top:36px;
				>li{float:left;
					&:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(7),&:nth-of-type(8){@include font330(20px);}
					&.snb_01{padding-left:14px;}
					&.snb_01::before{@include after(100);@include back("../img/src/footer_icon.png",100%);width:18px;height:10px;left:145px;top:44%;}
					
					&.snb_02{padding-left:54px;}
					&.snb_02:after{@include after(100);@include back("../img/src/footer_icon.png",100%);width:18px;height:10px;left:335px;top:44%}
					&.snb_03{padding-left:54px;}
					&.snb_04{padding-left:24px;font-style:bold;}
					&.snb_05{padding-left:24px;}
					&.snb_06{padding-left:16px;}
					&.snb_06::after{@include after(100);}
					&.snb_07{padding-left:16px;}
					&.snb_07::after{@include after(100);}
					&.snb_08{color:#f68b1f;padding-left:24px;}
					
						}
				}
		&::before{ 
					@include after(-100);
					@include b-set(1px);
					width:100vw;
					height:100px;
					background-color:#efefef;
					left:50%;
					bottom:0;
					margin-left:-50vw;
					margin-top:10px;}
			}//.snb
	 	.fnb{
	 		width:960px;
	 		height:210px;
			
			>ul{width:inherit;
				height:inherit;
				
				>li{margin:0 auto;
				
				&.medals{padding-left:218px;
					>ul{width:524px;
						height:52px;}
						li{width:20%;
						   height:inherit;
						   float:left;
						   &:nth-of-type(1){@include back("../img/src/banner0On.png",50%)}
						   &:nth-of-type(2){@include back("../img/src/banner1On.png",50%)}
						   &:nth-of-type(3){@include back("../img/src/banner2On.png",45%)}
						   &:nth-of-type(4){@include back("../img/src/banner3On.png",45%)}
						   &:nth-of-type(5){@include back("../img/src/banner4On.png",50%)}
							}

						}//medals
				

				&.footQuick{width:800px;height:40px;
					   text-align:center;
					ul{width:inherit;
					   height:inherit;
					   &.first_line{padding-left:40px;padding-top:10px;}
					   &.second_line{padding-left:170px;padding-top:2px;}
					   
					   >li{ @include font330(16px);
					   		color:$b_font;
					   		float:left;
					   	   margin-left:24px;

					   	}
					}//ul

				}//.footQuick
				

				&.address{@include font330(16px);
						  color:$b_font;
						  width:100%;
						  height:120px;
						  padding-top:40px;
						  text-align:center;
						  >address:nth-of-type(2){padding-top:16px;}
						}//address

			   		}//li
				
				}//ul
	 		}
			.snb_for_mini{display:none;}
			.fnb_for_mini{display:none;}
		}//#footBox
	#footPopup_01{width:960px;
				 height:400px;
				 background-color:#fefbfb;
				 position:absolute;
				 bottom:320px
				 ;z-index:300;
				 border: 2px solid $bc; 
				>button{width:60px;height:60px;background-color:#fa0;position:absolute;bottom:0;left:50%;margin-left:-30px;}
				}
}//media screen