@import "pc_base";
@import "lnb";
body{height:auto;}
#wrap{width:960px;height:1445px;margin:0 auto;opacity:0.8;}

// important ! ----------------------------------------------------------

#lnb>dl>dt:nth-of-type(1){background-color:#006869;color:#fff;}
#lnb>dl>dt:nth-of-type(1)+dd{display:block;}
#lnb>dl>dt:nth-of-type(1)+dd>ul>li:nth-of-type(1){background-color:#efefef;color:#c0c0;}

// content ---------------------------------------------------------------


#content{width:670px;height:1375px;background-color:#fff;float:left;padding-top:70px;padding-left:44px;padding-right:36px;@include b-all(2px);border-left:0}
/* .content_title{height:} */
.content_title{width:100%;height:30px;}
.content_title>h2{@include noto(29px);float:left}
.content_title>span{@include noto(14px);float:right;padding-top:12px;}

.guideBox{df}



// guideBox_info

.guideBox_info{width:670px;height:100px;margin-top:66px;background-color:#fefbfb;}
.guideBox_info


// three_buttons

	#three_buttons{width:40px;height:420px;position:absolute;z-index:1000;margin-left:166px;margin-top:600px;@include font360(20px);}
	#three_buttons>div{margin-top:2px;color:#fff;padding-left:12px;@include nanum(16px,600);text-shadow:1px 1px 1px #666;transition:all 0.3s;cursor:pointer;}
	#three_buttons>div:hover{transform:scale(1.03);}
	.first_button{width:40px;height:120px;background-color:#5EB300;padding-top:20px;}
	.second_button{width:40px;height:120px;background-color:#5276A6;padding-top:10px;}
	.third_button{width:40px;height:120px;background-color:#6F6F6F;padding-top:10px;}


table{@include b-all(2px);border-collapse:collapse;margin-top:30px;@include font330(13px);font-weight:bold;margin-bottom:10px;}
