//mainpage_tab.scss

@import "_mixin";

@media screen and (min-width:640px) and (max-width:959px){
	#headBox{
		width:100%;
		height:80px;
		background:{color:#fff}
		h1{min-width:120px;
		   width:33.3333333vw;
		   height:80px;
		   left:50%;
		   position:absolute;
		   margin-left:-16.6666666vw;

			a{display:block;
			  width:100%;
			  height:100%;
			  @include back("../../img/src/logo_640.jpg",100%);}
		}

		#menu{width:34px;
			  height:24px;
			  background-color:transparent;
			  float:left;
			  margin-left:2.7777778vw;
			  margin-top:15px;
			  
			  i{
			  	font-size:50px;
			  	color:$ic;
			  }
			}
		#home{width:34px;
			  height:24px;
			  background-color:transparent;
			  margin-right:2.7777778vw;
			  margin-top:15px;
			  float:right;
			
			  i{
			  	font-size:50px;
			  	color:$ic;
			  }
			}
	}
	#navi{display:none;}
	#addBanner{margin:0 auto;
		width:100%;
		min-height:300px;
		height:46.875vw;
		position:relative;
		@include back("../../img/src/ban_640.jpg",cover);
			>.mainBanner{position:absolute;
						 width:100vw;
						 min-height:190px;
						 height:32.77777778vw;
						 margin-top:5.88888889vw;
						 margin-left:3.66666667vw;
						 left:0;
				>h2{margin-top:2.6666667vw;
					margin-left:51.5625vw;
					@include font330(3.425vw);
					color:#eae2e3} //h2
					
					
				>h3{@include font330(2.8888889vw);
					color:#fff;
					margin-left:51.5625vw;} //h3
					 

				>h4{>a{font-weight:200;
					@include font310(3.125vw);
					color:#fff;
					margin-left:51.5625vw;
					margin-top:3.2vw;}//h4>a
					
					}//h4
			
			}//div
		>div.leftBox{width:50%;
				 	 height:100%;
				 	 float:left;
		
					>div.textBanner{>p{@include font330(32px)
										  text-align:center;
										  padding-top:86px;
										  padding-left:14px;}
						@include opacity(0.7);
						width:16.0625vw;
						height:36.375vw;
						background-color:#fff;
						float:right;
						margin-top:3.125vw;
		}//.textBanner
	}//.whiteBox

}//#addBanner

	#addBanner::after{
		@include after();
		border:10px solid #fff;
		width:53.125vw;
		min-height:220px;
		height:34.375vw;
		margin-top:3.125vw;
		margin-left:34vw;
	}
	#content_01{
		width:100%;
		height:62.5vw;
		background-color:#f07;
		.textBox_01{
					width:100vw;
					height:calc(100% - 40.375vw);
					background-color:#fff;
						h2{
							@include font340(5.25vw);
							color:$g_font;
							padding-left:36vw;
							padding-top:4.6875vw;} //h2
						
						h3{
							@include font310(2.8vw);
							color:$b_font;
							text-align:center;
							margin-top:12.5625px;} //h3

		
		}//textBox_01
		.insideBox{	
					width:100vw;
					min-height:220px;
					height:34.375vw;
					background-color:#8f7;
	
			>li{width:25%;
				height:40.375vw;
   				background-color:$ic;
   				float:left;
				.sizeBox{width:100%;
					>li{width:100%;
						height:40%;
						background-color:#fff;}
   				.icon_01{
   					@include back("../../img/src/icon_01.jpg",60%);}
   				.icon_02{
   					@include back("../../img/src/icon_02.jpg",45%);}
   				.icon_03{
   					@include back("../../img/src/icon_03.jpg",45%);}	
   				.icon_04{
   					@include back("../../img/src/icon_04.jpg",45%);}	
				h4{
					@include font330(3.8125vw);
					height:20%;
					text-align:center;
					margin-top:15px;}
				h5{display:block;
				   @include font320(2.5vw);
				   height:40%;
				   color:$b_font;
				   text-align:center;}//.sizeBox
   		
		   		} //sizeBox
			} //li
		
		} //insideBox




		
//이하 수정내용
		ul{	width:100vw;
			min-height:220px;
			height:34.375vw;
			background-color:#8f7;
		
		li{width:25%;
		   height:40.375vw;
		   background-color:$imc;
		   float:left;
		   			div{background-color:#fff;text-align:center;}
		   			div:nth-of-type(1){width:100%;
		   				height:40%
		   				}
		   			div:nth-of-type(2){@include font330(3.8125vw);height:20%;}
		   			div:nth-of-type(3){display:block;@include font320(2.5vw);height:40%;color:$b_font;}

		   			.icon_01{
		   				@include back("../../img/src/icon_01.jpg",55%)};
		   			.icon_02{
		   				@include back("../../img/src/icon_02.jpg",45%)};
		   			.icon_03{
		   				@include back("../../img/src/icon_03.jpg",45%)};	
		   			.icon_04{
		   				@include back("../../img/src/icon_04.jpg",45%)};		
			}
		}

	}
	#content_02{
		@include b-set(4px);
		width:100%;
		height:54.6875vw;

		.textBox_02{
			width:100vw;
			height:calc(18.75vw);
			background-color:$lgc;
				h2{	@include font340(5.25vw);
					color:$g_font;
					padding-left:24vw;
					padding-top:4.6875vw;
				
				};//h2
				
				h3{
					@include font310(2.8vw);
					color:$b_font;
					text-align:center;
					margin-top:10px;}
			};

		ul{
			width:100vw;
			min-height:200px;
			height:31.25vw;
			background-color:$nav;
		
		li{
			width:25%;
			height:35.95375vw;
			background-color:$nav;
			float:left;
			
			a{width:100%;height:100%;
				
				div{width:100%;height:60%;} //div
					
					.icon_05{@include back("../../img/src/icon_05.png",72%);}
					.icon_06{@include back("../../img/src/icon_06.png",72%);}
					.icon_07{@include back("../../img/src/icon_07.png",72%);}
					.icon_08{@include back("../../img/src/icon_08.png",72%);}
			
				h4{width:100%;
					text-align:center;
					@include font330(3.2vw);line-height:4;
					color:$g-font;}
						
					}//a
				

				}//li
			}//ul
		}//#content_02
	#content_03{
		@include b-set(4px);
		width:100%;
		min-height:320px;
		height:62.5vw;
		background:{color:#fff}
		ul{
			width:50%;
			min-height:270px;
			height:42.1875vw;
			margin-top:7.8125vw;
			float:left;
		li{ width:100%;
			height:33.33333334%;
			background-color:$e9;}
		}
		div{width:50%;
			min-height:270px;
			height:42.1875vw;
			margin-top:7.8125vw;
			float:right;
			background-color:#ccc;
			
		}
	}
	#articleBox{
		@include b-set();
		width:100%;
		min-height:420px;
		height:65.625vw;
		background:{color:$ic;};
	}
	#articleBox::after{
		
		@include after();
		border:8px solid #fff;
		min-width:560px;
		width:87.5vw;
		min-height:364px;
		height:56.875vw;
		margin-top:22px;
		margin-left:3.75vw;


	}
	
	#articleTab{
		@include b-set();
		width:100%;
		min-height:240px;
		height:37.5vw;
		background:{color:$blc};
		ul{width:100%;height:37.5vw;
		li{width:100%;height:33.333334%;}
	}
}
	
	#footBox{
		width:100%;
		min-height:180px;
		height:28.125vw;
		background:{color:#fff};
		.snb{
			width:100%;
			min-height:60px;
			height:9.375vw;
			background-color:#aaa;}
	} 

	
}//media screen