//mainpage_mob.scss
@import "_mixin";

@media screen and (max-width:639px){
	#abd{@include font340(34px);
		 @include after;
		 @include opacity;}
	#headBox{
		width:100%;
		min-height:60px;
		background:{color:#fff;}
		position:relative;
		h1{min-width:120px;
		   width:33.3333333vw;
		   height:40px;
		   margin-top:10px;
		   left:50%;
		   margin-left:-16.6666666vw;
		   position:absolute;
			
			  a{display:block;
			  	width:100%;
			  	height:100%;
			  	@include back("../../img/src/logo_360.jpg",100%);}
			  }

		}

		#menu{width:34px;
			  height:24px;
			  background-color:transparent;
			  float:left;
			  margin-left:2.7777778vw;
			  margin-top:10px;
			  
			  i{
			  	font-size:40px;
			  	color:$ic;
			  }
			}
		#home{width:34px;
			  height:24px;
			  background-color:transparent;
			  margin-right:2.7777778vw;
			  margin-top:10px;
			  float:right;
			
			  i{
			  	font-size:40px;
			  	color:$ic;
			  }
			}
	}
	#navi{display:none;}
	#addBanner{
		width:100%;
		min-height:240px;
		height:66.666667vw;
		background:{
			color:$ic;
			repeat:no-repeat;
			image:url("../../img/src/ban_360.jpg");
			size:cover;
			position:center}
		position:relative;
		@include b-set();
		h2{position:absolute;margin-top:8.6666667vw;
			p:nth-of-type(1),p:nth-of-type(2){display:none;}
			p{
				@include font330(6.666667vw);
				color:#fff;
				margin-left:16.66666667vw;}
			 }
		h3{ position:absolute;
			margin-top:25.3333333vw;
			p{
			font-weight:200;
			@include font310(4.6666667vw);
			color:#fff;
			margin-left:16.66666667vw;}
			}
		h4{ position:absolute;
			bottom:0;
			margin-bottom:10.55555556vw;
			@include font340(4.44444444vw);
			margin-left:16.66666667vw;
		}
	}
	#addBanner::after{
		@include after();
		border:6px solid #fff;
		width:91.1111111vw;
		min-height:200px;
		height:55.5555556vw;
		margin-top:3.88888889vw;
		margin-left:3.6666667vw;
		left:0;}
		//addBanner::after

	#content_01{
		width:100%;
		height:122.2222222vw;
		background:{color:#fff;}
		@include b-set();
		.textBox_01{
					h2{
						@include font340(7.7777778vw);
						color:$g_font;
						padding-left:30.88888889vw;
						padding-top:5.555555556vw;}
			
					h3{
						@include font310(3.3333333vw);
						color:$b_font;
						text-align:center;
						margin-top:10px;}
			width:100vw;
			height:calc(100% - 90vw);
			background-color:#fff;}
		
				ul{	width:100vw;
					height:90vw;
					background-color:#8f7;
		
				li{ width:50vw;
		   			height:45vw;
		   			background-color:$imc;
		   			float:left;
		   			div{background-color:#fff}
		   			div:nth-of-type(1){width:100%;
		   				height:60%
		   				}
		   			div:nth-of-type(2){@include font330(6.666667vw);
		   							   text-align:center;line-height:2.5;
		   							   height:40%;}
		   			div:nth-of-type(3){display:none;}
		   			.icon_01{
		   				@include back("../../img/src/icon_01.jpg",50%)};
		   			.icon_02{
		   				@include back("../../img/src/icon_02.jpg",40%)};
		   			.icon_03{
		   				@include back("../../img/src/icon_03.jpg",40%)};	
		   			.icon_04{
		   				@include back("../../img/src/icon_04.jpg",40%)};		   					   			
		   		}
		}

	}//content_01
	#content_02{
		@include b-set();
		width:100%;
		height:122.2222222vw;
		div{
			width:100vw;
			height:calc(100% - 96.6666667vw);
			background-color:$lgc;};
		ul{
			width:100vw;
			height:96.6666667vw;
			background-color:#8f7;
		
		li{
			width:50vw;
			height:48.3333334vw;
			background-color:#fff;
			float:left;}
		}

	}//#content_02
	

	#content_03{
		@include b-set();
		width:100%;
		min-height:430px;
		height:119.4444444vw;
		background:{color:#fff}
		ul{
			width:100vw;
			height:55.5555556vw;
			margin-top:63.8888889vw;
		li{width:100vw;height:33.33333334%;background-color:$e9}
		}
	}//content_03
	#articleBox{
		@include b-set();
		width:100%;
		min-height:300px;
		height:83.33333333vw;
		background:{color:$ic;};
	}//articleBox
	#articleBox::after{
		
		@include after();
		border:6px solid #fff;
		width:91.1111111vw;
		height:72.2222222vw;
		margin-top:3.88888889vw;
		margin-left:1.7777778vw;


	}//articleBox::after
	
	#articleTab{
		@include b-set();
		width:100%;
		height:33.33333%;
		min-height:210px;
		height:58.33333333vw;
		background:{color:$blc};
		ul{width:100%;height:100%;
		li{width:100%;height:33.333334%;}
	}
}//articleTab
	
	#footBox{
		width:100%;
		min-height:180px;
		height:50vw;
		background:{color:#fff};
		.snb{width:100%;
			height:16.6666667vw;
			background-color:$ef;}
	}//footBox


//media screen