//mainpage_tab.scss

@import "_mixin";

@media screen and (min-width:960px) and (max-width:2560px){
	#headBox{
		@include max;
		margin:0 auto;
		width:100%;
		height:74px;
		position:relative;
		background:{color:#eee}
	
	&::after{		
				@include after(-200);
				width:100vw;
				height:80px;
				background-color:#888;
				left:50%;
				margin-left:-50vw;}
			#menu{display:none;}
			#home{display:none;}
				
		h1{min-width:120px;
		   width:230px;
		   height:80px;
		   left:50%;
		   position:absolute;
		   margin-left:-115px;

			a{display:block;
			  width:100%;
			  height:100%;
			  @include back("../../img/src/logo_640.jpg",100%);}
		}
	}
	#navi{@include max;
		width:100%;
		height:100px;
		background:{color:#ccc};
		margin:0 auto;}

	#navi::after{
					@include after(-100);
					width:100%;
					height:100px;
					background-color:#000;
					left:0;}
	#addBanner{
		@include max;
		@include back("../../img/src/ban_640.jpg",cover);
		margin:0 auto;
		height:400px;
		width:100%;
		position:relative;
		.whiteBox{width:50%;
				  height:100%;
				  float:left;
		
			.textBanner{
						@include opacity(0.7);
						width:126px;
						height:306px;
						background-color:#fff;
						margin-top:58px;
						float:right;

		}
	}

}
	#addBanner::after{
		@include after();
	 	border:10px solid #fff;
	 	width:586px;
	 	height:306px;
	 	top:0;
	 	margin-left:464px;
	 	margin-top:48px;
	 }
	#content_01{
		@include max;
		margin:0 auto;
		width:100%;
		height:444px;
		background:{color:#f07;}
		div{
			@include max;
			width:100%;
			height:136px;
			background-color:#fff;
		}
		ul{	@include max;
			width:100%;
			height:308px;
			background-color:#8f7;
		
		li{@include max;
		   width:25%;
		   height:308px;
		   background-color:$imc;
		   float:left;}
		}

	}
	#content_02{
		@include max;
		@include b-set(4px);
		margin:0 auto;
		width:100%;
		height:452px;
		div{
			width:100%;
			height:130px;
			background-color:$lgc;};
		ul{
			width:100%;
			height:322px;
			background-color:#8f7;
		
		li{
			width:25%;
			height:322px;
			background-color:#fff;
			float:left;}
		}

	}
	

	#content_03{
		@include max;
		@include b-set(4px);
		width:100%;
		height:444px;
		background:{color:#fff};
		margin:0 auto;
		ul{ @include max;
			width:50%;
			height:100%;
			float:left;
			margin-top:0;
		li{ @include max;
			width:100%;
			height:33.33333334%;
			background-color:$e9;
			}
		}
		.imgBox{ @include max;
			width:50%;
			height:100%;
			float:right;
			background-color:#ccc;
			
		}
	}
	#content_04{@include max;
				width:100%;
				height:400px;
				margin:0 auto;
				background-color:#f0b;}
	#articleBox{
		@include b-set();
		width:50%;
		height:400px;
		background:{color:$ic};
		float:left;
	}
	 #articleBox::after{
		
	 	@include after();
	 	border:10px solid #fff;
	 	width:500px;
	 	height:340px;
	 	margin-top:22px;
	 	margin-left:166px;


	}
	
	#articleTab{
		@include b-set();
		width:50%;
		height:400px;
		background:{color:$blc};
		float:right;
		ul{width:100%;height:420px;
		li{width:100%;height:33.333334%;}
	}
}
	
	#footBox{
		@include max;
		margin:0 auto;
		width:100%;
		height:310px;
		background:{color:#eee};
		.snb{margin:0 auto;
			width:100%;
			height:100px;
			background-color:#aaa;
		}
	}

}//media screen